# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# MongoDB Configuration
MONGODB_URI="" 
DB_NAME="e-commerce" 
USERS_COLLECTION="users"
TOKENS_COLLECTION="tokens"
PRODUCTS_COLLECTION="products"
REVIEWS_COLLECTION="reviews"
ORDERS_COLLECTION="orders"

# JWT Configuration
JWT_SECRET=""
JWT_LIFETIME="1h"

# Email Configuration
EMAIL_HOST="smtp.ethereal.email"
EMAIL_PORT="587"
EMAIL_SECURE="false"
EMAIL_USER="<your_ethereal_email>"
EMAIL_PASSWORD="<your_ethereal_password>"
EMAIL_FROM_NAME="E-Commerce API"
EMAIL_FROM_EMAIL="<your_ethereal_email>"
FRONTEND_URL="http://localhost:3000"
